Repository LaryNevesPR/Estacao-Andromeda, pull requests merged in 2025-04, with the labels that each got.

#70 Conserta arquivos YML que faltam.
  Content.Server/Psionics/PsionicsSystem.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Resources/Locale/pt-BR/psionics/psionic-powers.ftl
  Resources/Prototypes/Reagents/psionic.yml
Labels: Changes: C#, Changes: YML, Changes: Localization

#75 Colocando restrição no chapéu e capa do contato corporativo da NanoTrasen
  Resources/Prototypes/Loadouts/Jobs/Command/nanorep.yml
  Resources/Prototypes/_Andromeda/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Andromeda/Entities/Clothing/Neck/cloaks.yml
Labels: Changes: YML

#76 Adicionando os Cabelos feito pelo "wellnachapara"
  Resources/Locale/pt-BR/_Andromeda/accessories/human-facial-hair.ftl
  Resources/Locale/pt-BR/_Andromeda/accessories/human-hair.ftl
  Resources/Prototypes/_Andromeda/Entities/Mobs/Customization/Markings/human_facial_hair.yml
  Resources/Prototypes/_Andromeda/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_Andromeda/Mobs/Customization/human_facial_hair.rsi/barbanegra.png
  Resources/Textures/_Andromeda/Mobs/Customization/human_facial_hair.rsi/imperadorchines.png
  Resources/Textures/_Andromeda/Mobs/Customization/human_facial_hair.rsi/meta.json
  Resources/Textures/_Andromeda/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Andromeda/Mobs/Customization/human_hair.rsi/moica.png
  Resources/Textures/_Andromeda/Mobs/Customization/human_hair.rsi/sangueecinzas.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#78 Tradução da aba de Engenharia presente no livro guia
  Resources/ServerInfo/Guidebook/Engineering/AME.xml
  Resources/ServerInfo/Guidebook/Engineering/AccessConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/AirlockSecurity.xml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Engineering/Construction.xml
  Resources/ServerInfo/Guidebook/Engineering/Engineering.xml
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
  Resources/ServerInfo/Guidebook/Engineering/NetworkConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/Networking.xml
  Resources/ServerInfo/Guidebook/Engineering/PortableGenerator.xml
  Resources/ServerInfo/Guidebook/Engineering/Power.xml
  Resources/ServerInfo/Guidebook/Engineering/RTG.xml
  Resources/ServerInfo/Guidebook/Engineering/Shuttlecraft.xml
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
  Resources/ServerInfo/Guidebook/Engineering/Supermatter.xml
  Resources/ServerInfo/Guidebook/Engineering/TEG.xml
Labels: Changes: YML, Changes: Documentation

#74 Tradução de todas as empresas, nações do livro guia e algumas outras.
  Resources/Locale/pt-BR/_EE/contractors/employer.ftl
  Resources/Locale/pt-BR/_EE/contractors/nationality.ftl
  Resources/Locale/pt-BR/_EE/language/languages.ftl
  Resources/Locale/pt-BR/_EE/traits/traits.ftl
  Resources/Locale/pt-BR/guidebook/lore.ftl
  Resources/Locale/pt-BR/paper/stamp-component.ftl
  Resources/ServerInfo/Guidebook/Lore/Corporations/Corporations.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/EinsteinEngines.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/HephaestusIndustries.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/IdrisIncorporated.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/NanoTrasen.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/OrionExpress.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/PrivateMilitaryContractingGroup.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/StellarCorporateConglomerate.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/ZavodskoiInterstellar.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/ZengHuPharmaceuticals.xml
  Resources/ServerInfo/Guidebook/Lore/Nations/Nations.xml
  Resources/ServerInfo/Guidebook/Lore/Nations/SolAlliance.xml
  Resources/ServerInfo/Guidebook/Lore/Nations/TCFL.xml
Labels: Changes: YML, Changes: Documentation, Changes: Localization

#79 Tradução das especies presente no livro guia
  Resources/ServerInfo/Guidebook/Mobs/Arachnid.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Chitinid.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Rodentia.xml
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/Human.xml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
  Resources/ServerInfo/Guidebook/Mobs/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/Plasmaman.xml
  Resources/ServerInfo/Guidebook/Mobs/Reptilian.xml
  Resources/ServerInfo/Guidebook/Mobs/Shadowkin.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/Mobs/Tajaran.xml
  Resources/ServerInfo/Guidebook/Mobs/shadowkin.Lore.txt
Labels: Changes: YML, Changes: Documentation

#80 Adicionando a Role de Visitante V.I.P
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Andromeda/Catalog/Fills/Briefcase/vip.yml
  Resources/Prototypes/_Andromeda/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Misc/locked_briefcase.yml
  Resources/Prototypes/_Andromeda/Roles/Jobs/Command/VIP.yml
  Resources/Prototypes/_Andromeda/Roles/play_time_trackers.yml
  Resources/Prototypes/_Andromeda/StatusIcon/job.yml
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/vip.png
  Resources/Textures/_Andromeda/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Andromeda/Interface/Misc/job_icons.rsi/visitorvip.png
  Resources/Textures/_Andromeda/Objects/Devices/pda.rsi/equipped-BELT.png
  Resources/Textures/_Andromeda/Objects/Devices/pda.rsi/id_overlay.png
  Resources/Textures/_Andromeda/Objects/Devices/pda.rsi/insert_overlay.png
  Resources/Textures/_Andromeda/Objects/Devices/pda.rsi/light_overlay.png
  Resources/Textures/_Andromeda/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Devices/pda.rsi/pda-visitor-vip.png
  Resources/Textures/_Andromeda/Objects/Storage/Briefcases/briefcase_locked.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Storage/Briefcases/briefcase_locked.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Objects/Storage/Briefcases/briefcase_locked.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Objects/Storage/Briefcases/briefcase_locked.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Storage/Briefcases/briefcasevip_locked.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Storage/Briefcases/briefcasevip_locked.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Objects/Storage/Briefcases/briefcasevip_locked.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Objects/Storage/Briefcases/briefcasevip_locked.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#72 Capas
  Resources/Prototypes/_Andromeda/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/heart.rsi/equipped-NECK.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/heart.rsi/icon.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/heart.rsi/meta.json
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/menacing.rsi/equipped-NECK.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/menacing.rsi/icon.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/menacing.rsi/meta.json
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/wet.rsi/equipped-NECK.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/wet.rsi/icon.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/wet.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#85 Deitado, carregado e tudo entre desliga colisão no EE
  Content.Shared/Standing/StandingStateSystem.cs
Labels: Changes: C#, Changes: YML

#88 Adição de reação ao ataque,tosse severa e novo som do health analyzer
  Content.Server/_Sunrise/Paws/PawsComponent.cs
  Content.Server/_Sunrise/Paws/PawsSystem.cs
  Resources/Audio/_Sunrise/Effects/Footsteps/Boots/step1.ogg
  Resources/Audio/_Sunrise/Effects/Footsteps/Boots/step2.ogg
  Resources/Audio/_Sunrise/Effects/Footsteps/Boots/step3.ogg
  Resources/Audio/_Sunrise/Items/Medical/scanner_use.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Female/sound1.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Female/sound2.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Female/sound3.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Male/sound1.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Male/sound2.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Male/sound3.ogg
  Resources/Changelog/ChangelogSunrise.yml
  Resources/Locale/pt-BR/_Sunrise/_strings/_sunrise/chat/emotes.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/chat/emotes.ftl
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Sunrise/SoundCollections/footsteps.yml
  Resources/Prototypes/_Sunrise/SoundCollections/severe_cough.yml
  Resources/Prototypes/_Sunrise/Voice/desease_emotes.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: Audio

#92 Atualiza Attributions que estão dando erro
  Resources/Audio/Jukebox/attributions.yml
  Resources/Textures/_Andromeda/LobbyScreens/attributions.yml
Labels: Changes: YML

#91 adicionar sapinho e camarão como pet
  Resources/Locale/en-US/loadouts/generic/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/_Andromeda/Entities/Mobs/NPCs/Animals.yml
  Resources/Textures/Mobs/Animals/frog.rsi/dead.png
  Resources/Textures/Mobs/Animals/frog.rsi/frog-moving.png
  Resources/Textures/Mobs/Animals/frog.rsi/frog.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#86 JobIcon no chat
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Starlight/UserInterface/RichText/IconTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#95 arrumando erro yaml do canvas
  Resources/Prototypes/Entities/Objects/Fun/canvas.yml
Labels: Changes: YML

#94 Test merge
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/mouth_storage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/EstacaoPirata/Mobs/Species/Daengati.yml
  Resources/Prototypes/Floof/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/leash.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/borgmodules.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: YML
