Repository LaryNevesPR/Estacao-Andromeda, pull requests merged in 2025-03, with the labels that each got.

#59 Casaco de detetive e cachecóis agora protegem contra temperatura
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/scarfs.yml
Labels: Changes: YML

#58 Reesprite feitas pelo Yarley de algumas Armas
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-4.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-5.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/wielded-inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/base.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/bolt-open.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/icon.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/wielded-inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML

#63 Descrição na figure do Gui
  Resources/Prototypes/_Andromeda/Entities/Objects/Fun/figurines_catarse/figurines.yml
Labels: Changes: YML

#64 Adicionando uma "nave" de batalha para equipe de segurança
  Resources/Prototypes/_Andromeda/Entities/Markers/Spawners/mechs.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Textures/_Andromeda/Objects/Specific/Mech/sec_pod.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Specific/Mech/sec_pod.rsi/sec_pod.png
  Resources/Textures/_Andromeda/Objects/Specific/Mech/sec_pod.rsi/sec_pod_broken.png
  Resources/Textures/_Andromeda/Objects/Specific/Mech/sec_pod.rsi/sec_pod_open.png
Labels: Changes: Sprite, Changes: YML

#66 traduções e correções da impressora de documento.
  Resources/Locale/pt-BR/corvax/paper/doc-printer.ftl
  Resources/Locale/pt-BR/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
  Resources/Locale/pt-BR/ss14-ru/prototypes/corvax/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/pt-BR/ss14-ru/prototypes/corvax/entities/objects/materials/sheets/other.ftl
  Resources/Locale/pt-BR/ss14-ru/prototypes/corvax/entities/objects/misc/flatpacks.ftl
  Resources/Locale/pt-BR/ss14-ru/prototypes/corvax/entities/structures/machines/printer.ftl
Labels: Changes: YML, Changes: Localization

#65 Adcionando Chapéu de Cangaceiro
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Andromeda/Entities/Clothing/Head/hats.yml
  Resources/Textures/_Andromeda/Clothing/Head/Hats/cangaceiro.rsi/equipped-HELMET.png
  Resources/Textures/_Andromeda/Clothing/Head/Hats/cangaceiro.rsi/icon.png
  Resources/Textures/_Andromeda/Clothing/Head/Hats/cangaceiro.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Clothing/Head/Hats/cangaceiro.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Clothing/Head/Hats/cangaceiro.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#62 Adicionando recursos para o Comando Central
  Resources/Locale/pt-BR/_Andromeda/job/department-desc.ftl
  Resources/Locale/pt-BR/_Andromeda/job/department.ftl
  Resources/Locale/pt-BR/_Andromeda/job/job-description.ftl
  Resources/Locale/pt-BR/_Andromeda/job/job-names.ftl
  Resources/Locale/pt-BR/_Andromeda/job/job-supervisors.ftl
  Resources/Prototypes/_Andromeda/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Andromeda/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Andromeda/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Andromeda/Roles/Jobs/Command/CentralCommandOperador.yml
  Resources/Prototypes/_Andromeda/Roles/Jobs/Command/departments.yml
  Resources/Prototypes/_Andromeda/Roles/play_time_trackers.yml
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/centcom_operador.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/centcom_operador.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/centcom_operador.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/centcom_operador.rsi/icon.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/centcom_operador.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/centcom_operador.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/centcom_operador.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Misc/module.rsi/cpu_centcomm.png
  Resources/Textures/_Andromeda/Objects/Misc/module.rsi/meta.json
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#69 pequenas correções em coisas med
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: Changes: YML
