Repository LaryNevesPR/Estacao-Andromeda, pull requests merged in 2025-02, with the labels that each got.

#20 [PORT] Ban Discord Webhook (#119)
  Content.Server/Administration/Managers/BanManager.Discord.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Shared/_Gabystation/CCVar/CVars.Gaby.cs
  Resources/Locale/pt-BR/_Gabystation/webhook/ban-webhook.ftl
Labels: Changes: C#, Changes: YML, Changes: Localization

#22 Buffa armas do cap
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: YML

#24 Remove restrição pra RD
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Changes: YML

#25 Algumas musicas para jukebox
  Resources/Audio/Jukebox/Dancing in the Moonlight.ogg
  Resources/Audio/Jukebox/Ninja-Sex-Party-Africa.ogg
  Resources/Audio/Jukebox/Pursuing-My-True-Self.ogg
  Resources/Audio/Jukebox/Reach-Out-To-The-Truth-First-Battle-.ogg
  Resources/Audio/Jukebox/Space-Parody.ogg
  Resources/Audio/Jukebox/TWRP Content 4 U.ogg
  Resources/Audio/Jukebox/Vast Error Blood-Right.ogg
  Resources/Audio/Jukebox/Virtual-Insanity.ogg
  Resources/Audio/Jukebox/attributions.yml
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, Changes: Audio

#31 Novas criaturas para polymorph
  Resources/Prototypes/_Andromeda/Entities/Clothing/Neck/amulet.yml
Labels: Changes: YML

#36 borgZiptieFix
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Changes: C#, Changes: YML

#34 Update ao app de jukebox
  Tools/Jukebox Manager/app.py
  Tools/Jukebox Manager/mp3toOgg.bat
  Tools/Jukebox Manager/mp3toOgg.py
  Tools/Jukebox Manager/requirements.txt
Labels: Changes: YML

#35 Musicas novas
  Resources/Audio/Jukebox/Adriana Figueroa - What Can I Do For You.ogg
  Resources/Audio/Jukebox/Daft Punk - Harder, Better, Faster, Stronger.ogg
  Resources/Audio/Jukebox/Daft Punk -Around The World.ogg
  Resources/Audio/Jukebox/Gorillaz - Andromeda.ogg
  Resources/Audio/Jukebox/Gorillaz - Pac-Man.ogg
  Resources/Audio/Jukebox/Space Dandy - Star Future.ogg
  Resources/Audio/Jukebox/TWRP - Rock n Roll Best Friends.ogg
  Resources/Audio/Jukebox/attributions.yml
  Resources/Audio/Jukebox/beeos.ogg
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, Changes: Audio

#27 Laika melhorada
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML

#32 Adicionando Trait de sotaque "Nerd"
  Content.Server/_Andromeda/Speech/Components/NerdAccentComponent.cs
  Content.Server/_Andromeda/Speech/EntitySystems/NerdAccentSystem.cs
  Resources/Locale/pt-BR/_Andromeda/accent/nerd.ftl
  Resources/Locale/pt-BR/_Andromeda/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/_Andromeda/Traits/Accents/word_replacements.yml
  Resources/Prototypes/_Andromeda/Traits/neutral.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Status: Needs Review

#30 Radio agora vai ter um som de alerta configuravel
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Shared/CCVar/CCVars.Radio.cs
  Resources/Audio/_Andromeda/Effects/Radio/sound_items_radio_radio_receive.ogg
Labels: Changes: C#, Changes: UI, Changes: YML, Changes: Audio

#41 Traduzindo o AAC Tablet
  Resources/Locale/pt-BR/_Andromeda/phrases/common.ftl
  Resources/Locale/pt-BR/_Andromeda/phrases/locations.ftl
  Resources/Locale/pt-BR/_Andromeda/phrases/species.ftl
  Resources/Locale/pt-BR/_Andromeda/phrases/subjects.ftl
  Resources/Locale/pt-BR/_Andromeda/phrases/threats.ftl
  Resources/Prototypes/DeltaV/QuickPhrases/Common/actions.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/commands.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/manners.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/numbers.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/pronouns.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/qualitative.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/questions.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/animals.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/crew.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/generic_species.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/hazards.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/hostiles.yml
  Resources/Prototypes/DeltaV/QuickPhrases/base.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Common/actions.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Common/commands.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Common/manners.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Common/numbers.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Common/pronouns.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Common/qualitative.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Common/questions.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Species/animals.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Species/crew.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Species/generic_species.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Threats/hazards.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/Threats/hostiles.yml
  Resources/Prototypes/_Andromeda/QuickPhrases/base.yml
Labels: Changes: YML, Changes: Localization

#42 Items que faltava no loadout
  Resources/Prototypes/Floof/Loadouts/neck.yml
Labels: Changes: YML

#40 Adicionado uma Capa e chapéu de Representante da Nanotrasen
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/nanorep.yml
  Resources/Prototypes/Loadouts/Jobs/Command/nanorep.yml
  Resources/Prototypes/_Andromeda/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Andromeda/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Andromeda/Clothing/Head/Hats/rnt.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Andromeda/Clothing/Head/Hats/rnt.rsi/equipped-HELMET.png
  Resources/Textures/_Andromeda/Clothing/Head/Hats/rnt.rsi/icon.png
  Resources/Textures/_Andromeda/Clothing/Head/Hats/rnt.rsi/meta.json
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/rnt.rsi/equipped-NECK.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/rnt.rsi/icon.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/rnt.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/rnt.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Clothing/Neck/Cloaks/rnt.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML, Changes: Localization

#49 Remove Space Parody de Zuko Vyper da jukebox
  Resources/Audio/Jukebox/Space-Parody.ogg
  Resources/Audio/Jukebox/attributions.yml
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, Changes: Audio

#55 Moth agora tem cabelo
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Species/moth.yml
Labels: Changes: YML

#54 Atualização da Jukebox UI
  Content.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml.cs
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Content.Shared/Audio/Jukebox/SharedJukeboxSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#53 Botões para exportar imagem do personagem
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Sprite/ContentSpriteSystem.cs
  Resources/Locale/pt-BR/administration/admin-verbs.ftl
  Resources/Locale/pt-BR/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: C#, Changes: UI, Changes: YML, Changes: Localization

#50 Adiciona uma maleta com tranca para enviado da CC
  Resources/Prototypes/_Andromeda/Entities/Clothing/Briefcases/locked_briefcase.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Textures/_Andromeda/Objects/Briefcases/briefcase_locked.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Briefcases/briefcase_locked.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Objects/Briefcases/briefcase_locked.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Objects/Briefcases/briefcase_locked.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#52 Chatsan ligado, mais alguns chatsans adicionados
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/pt-BR/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: C#, Changes: YML, Changes: Localization

#57 ChatSan hotfix
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/pt-BR/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: C#, Changes: YML, Changes: Localization
