Repository LaryNevesPR/Estacao-Andromeda, pull requests merged in 2025-01, with the labels that each got.

#5 Mostra vida no crew Monitoring
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#6 ApoloSaraivaUpdate
  Resources/Prototypes/_Andromeda/Entities/Structures/saraiva.yml
  Resources/Prototypes/_Andromeda/Recipes/Crafting/Crafting da estatua do Apolo Saraiva.rar
  Resources/Textures/_Andromeda/Custom/saraiva.rsi/meta.json
  Resources/Textures/_Andromeda/Custom/saraiva.rsi/saraiva.png
Labels: Changes: Sprite, Changes: YML

#7 EE-Andromeda
  Resources/ServerInfo/Guidebook/Andromeda/Rules/0_Admin.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/DeltaVRuleset..xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/DeltaVRuleset.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S10_OrderConflicts.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S1_Laws.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S2_LawPriority.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S3_LawRedefinition.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S4_RequestChanges.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S5_FreeSilicon.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S6_UnreasonableOrders.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S7_Consistency.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S8_DefaultCrewDefinition.xml
  Resources/ServerInfo/Guidebook/Andromeda/Rules/SiliconRules/S9_DefaultHarmDefinition.xml
Labels: Changes: YML, Changes: Documentation

#8 Gerenciador de jukebox basico
  Tools/Jukebox Manager/app.bat
  Tools/Jukebox Manager/app.py
Labels: Changes: YML

#10 Canvas Fixavel no chão
  Resources/Prototypes/Entities/Objects/Fun/canvas.yml
Labels: Changes: YML

#12 Sec borg good boy
  Resources/Locale/en-US/Floof/station-laws/laws.ftl
  Resources/Locale/pt-BR/Floof/station-laws/laws.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Robotics/Borgmodules.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Melee.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/borgmodules.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/flash.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/guns.yml
  Resources/Prototypes/Floof/Recipes/Construction/tools.yml
  Resources/Prototypes/Floof/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Floof/Recipes/Lathes/security.yml
  Resources/Prototypes/Floof/silicon-laws.yml
  Resources/Prototypes/Floof/tags.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Prototypes/Recipes/Construction/Graphs/tools/BorgModules.yml
  Resources/Textures/Floof/Interface/Actions/hypno.png
  Resources/Textures/Floof/Interface/Misc/hypno_icons.rsi/master.png
  Resources/Textures/Floof/Interface/Misc/hypno_icons.rsi/meta.json
  Resources/Textures/Floof/Interface/Misc/hypno_icons.rsi/subject.png
  Resources/Textures/Floof/Interface/VerbIcons/resize.svg
  Resources/Textures/Floof/Interface/VerbIcons/resize.svg.192dpi.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/meta.json
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadsprite.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriteCC.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritel.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspriter.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalv.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalvl.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritesalvr.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-Advmeasures.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-capture.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-explosive.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-investigation.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-kill.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/icon-stun.png
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/Floof/Objects/Specific/Robotics/borgmodule.rsi/security.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_chest+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_head+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_arm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_leg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_salvarm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_l_salvleg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_arm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_leg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_salvarm+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_r_salvleg+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_salvchest+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/borg_salvhead+o.png
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/meta.json
  Resources/Textures/Floof/Objects/Specific/Robotics/parts.rsi/quad_suit.png
Labels: Changes: Sprite, Changes: YML

#13 Update da amizade Parte 1
  Resources/Audio/_Andromeda/Effects/boing.ogg
  Resources/Audio/_Andromeda/Effects/highfive.ogg
  Resources/Audio/_Andromeda/Effects/slap.ogg
  Resources/Locale/en-US/_Andromeda/interaction/verbs/noop.ftl
  Resources/Locale/pt-BR/_Andromeda/interaction/verbs/noop.ftl
  Resources/Prototypes/_Andromeda/Interactions/mood_interactions.yml
  Resources/Prototypes/_Andromeda/Mood/genericPositiveEffects.yml
  Resources/Textures/_Andromeda/Interface/Actions/blush.png
  Resources/Textures/_Andromeda/Interface/Actions/boop.png
  Resources/Textures/_Andromeda/Interface/Actions/bow.png
  Resources/Textures/_Andromeda/Interface/Actions/buttslap.png
  Resources/Textures/_Andromeda/Interface/Actions/handshake.png
  Resources/Textures/_Andromeda/Interface/Actions/highfive.png
  Resources/Textures/_Andromeda/Interface/Actions/poke.png
Labels: Changes: YML

#15 Corrige AI racista roundstart e algumas traduçoes
  Resources/Locale/pt-BR/abilities/psionic.ftl
  Resources/Locale/pt-BR/psionics/psionic-commands.ftl
  Resources/Locale/pt-BR/psionics/psychognomic-descriptors.ftl
  Resources/Locale/pt-BR/psionics/stamp-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: YML

#16 Canvas Small Fix
  Content.Client/Canvas/Ui/CanvasWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML
