Repository LaryNevesPR/Estacao-Andromeda, pull requests merged in 2025-05, with the labels that each got.

#93 iconjob fix
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#100 arruma o server packaging
  Content.Packaging/ServerPackaging.cs
Labels: Changes: C#, Changes: YML

#96 Uma nova arma para o barman.
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Guns/Hand/knuckle.yml
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Knuckle/knuckle.rsi/equipped-HAND.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Knuckle/knuckle.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Knuckle/knuckle.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Knuckle/knuckle.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Knuckle/knuckle.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#98 comenta ou tira logs de tts
  Content.Server/_Andromeda/TextToSpeech/TTSManager.cs
  Content.Server/_Andromeda/TextToSpeech/TTSSystem.cs
Labels: Changes: C#, Changes: YML

#103 Tradução da aba de antags presente no livro guia
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/BloodCult.xml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
  Resources/ServerInfo/Guidebook/Antagonist/SpaceNinja.xml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: Changes: YML, Changes: Documentation

#105 Tradução da Aba de Medicina contida no Livro Guia
  Resources/ServerInfo/Guidebook/ChemicalTabs/Biological.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Botany.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Elements.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Foods.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Narcotics.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Other.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Pyrotechnic.xml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Toxins.xml
  Resources/ServerInfo/Guidebook/Chemicals.xml
  Resources/ServerInfo/Guidebook/Medical/AdvancedBrute.xml
  Resources/ServerInfo/Guidebook/Medical/Botanicals.xml
  Resources/ServerInfo/Guidebook/Medical/Chemist.xml
  Resources/ServerInfo/Guidebook/Medical/Cloning.xml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
  Resources/ServerInfo/Guidebook/Medical/Medical.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
  Resources/ServerInfo/Guidebook/Medical/Medicine.xml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/Autodoc.xml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/OrganManipulation.xml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/PartManipulation.xml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/Surgery.xml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/UtilitySurgeries.xml
Labels: Changes: YML, Changes: Documentation

#104 Adicionei um vinho de sangue para os vampiros
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Textures/_Andromeda/Objects/Consumable/Drinks/vampiricwinebottle.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Consumable/Drinks/vampiricwinebottle.rsi/icon_open.png
  Resources/Textures/_Andromeda/Objects/Consumable/Drinks/vampiricwinebottle.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#102 Cyberiad: Rework completo da Sec (Original do Andromeda)
  Resources/Maps/_Andromeda/cyberiad.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Andromeda/Maps/Pools/default.yml
  Resources/Prototypes/_Andromeda/Maps/cyberiad.yml
Labels: Changes: YML, Changes: Map

#99 adicionar magnetismo nas ore bags/box
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Resources/Locale/en-US/storage/components/magnet-pickup-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Structures/Storage/ore_box.yml
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/orebag_off.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/orebag_on.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/orebag_off.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/orebag_on.png
Labels: Changes: C#, Changes: Sprite, Changes: YML, Changes: Localization

#107 Novo equipamento de combate.
  Resources/Locale/en-US/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/prototypes/entities/clothing/outerClothing/hardsuits.ftl
  Resources/Locale/pt-BR/Entities/Objects/Weapons/Guns/Pistols/pistols.ftl
  Resources/Locale/pt-BR/Entities/Objects/Weapons/Guns/Rifles/rifles.ftl
  Resources/Prototypes/_Andromeda/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Andromeda/Entities/Clothing/Uniforms/hardsuits.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Guns/Pistol/pistols.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Guns/Rifle/rifles.yml
  Resources/Textures/_Andromeda/Clothing/Head/HardsuitHelmets/spartan.rsi/icon-flash.png
  Resources/Textures/_Andromeda/Clothing/Head/HardsuitHelmets/spartan.rsi/icon.png
  Resources/Textures/_Andromeda/Clothing/Head/HardsuitHelmets/spartan.rsi/meta.json
  Resources/Textures/_Andromeda/Clothing/Head/HardsuitHelmets/spartan.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_Andromeda/Clothing/Head/HardsuitHelmets/spartan.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_Andromeda/Clothing/Head/HardsuitHelmets/spartan.rsi/off-equipped-HELMET.png
  Resources/Textures/_Andromeda/Clothing/Head/HardsuitHelmets/spartan.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_Andromeda/Clothing/Head/HardsuitHelmets/spartan.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_Andromeda/Clothing/Head/HardsuitHelmets/spartan.rsi/on-equipped-HELMET.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Hardsuits/spartan.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Hardsuits/spartan.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Hardsuits/spartan.rsi/icon.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Hardsuits/spartan.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Hardsuits/spartan.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Hardsuits/spartan.rsi/meta.json
  Resources/Textures/_Andromeda/Clothing/Uniforms/Hardsuits/spartan.rsi/segment.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/base.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/bolt-open.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/equipped-BELT.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/mag-0.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/base.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/bolt-open.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/equipped-BACKPACK.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/mag-0.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/wielded-inhand-left.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifle/ma56xf.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#110 Altera a velocidade de disparo
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Changes: C#, Changes: YML

#115 Quark
  Resources/Maps/quark.yml
  Resources/Prototypes/Maps/quark.yml
Labels: Changes: YML, Changes: Map

#114 [Port] M492 Smart Lmg do Starlight
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_StarLight/tags.yml
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/base.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/bolt-open.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/equipped-BACKPACK.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/mag-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/mag-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/mag-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/mag-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/wielded-inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/wielded-inhand-right.png
Labels: Changes: Sprite, Changes: YML
